[Bookmarks]
PosX=806
PosY=361
Width=300
Height=380
TabsOrder=xfce;Notes;fx;
LastTab=2
Above=false
Sticky=true
Transparency=9
Visible=false

[MISC]
PosX=0
PosY=29
Width=300
Height=380
TabsOrder=Notes;general;shoppingList;
LastTab=2
Above=false
Sticky=true
Transparency=9
Visible=false

[Notes]
PosX=0
PosY=29
Width=300
Height=380
TabsOrder=Notes;Amazon;TODO;chromebook;
LastTab=3
Above=false
Sticky=true
Transparency=9
Visible=false

[Notes 2]
PosX=6
PosY=29
Width=300
Height=380
TabsOrder=Notes;
LastTab=0
Above=false
Sticky=true
Transparency=9
Visible=false

[scatApp]
PosX=0
PosY=29
Width=300
Height=380
TabsOrder=workerSide;adminSide;
LastTab=1
Above=false
Sticky=true
Transparency=9
Visible=false
