#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=GTK;Network;
Name=Deta Space
Exec=/opt/brave.com/brave/brave-browser "--profile-directory=Profile 2" --app=https://deta.space --class=DetaSpace
Icon=/home/me/.local/share/icons/DetaSpace.png
StartupWMClass=DetaSpace
