[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord (Ice SSB)
Exec=/snap/bin/chromium --app=https://discord.com/channels/@me --class=ICE-SSB-discord
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/me/.local/share/ice/discord.ico
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-discord
StartupNotify=true
Path=
