[Desktop Entry]
Version=1.0
Name=GCP Console
Comment=GCP Console (Ice SSB)
Exec=chromium-browser --app=https://console.cloud.google.com/ --class=ICE-SSB-gcpconsole
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/me/.local/share/ice/gcpconsole.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-gcpconsole
StartupNotify=true
