[Desktop Entry]
Version=1.0
Name=unitConverters
Comment=unitConverters (Ice SSB)
Exec=firefox --class ICE-SSB-unitconverters --profile /home/me/.local/share/ice/firefox/unitconverters --no-remote https://www.unitconverters.net/
IceFirefox=unitconverters
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/me/.local/share/ice/unitconverters.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-unitconverters
StartupNotify=true
