[Desktop Entry]
Version=1.0
Type=Application
Name=ytdlaud
Comment=YTDL Audio
Exec=/home/me/bin/ytdlaud
Icon=solfege
Path=/home/me/Videos/YTDLA
Terminal=false
StartupNotify=false
Name[en_US]=ytdlaud
