[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/keith/Desktop/20200610_1.note]
row=4
col=0

[/home/keith/Desktop/20200610_2.note]
row=6
col=0

[/home/keith/Desktop/20200715]
row=1
col=4

[/home/keith/Desktop/20200711.notes]
row=0
col=4

[/home/keith/Desktop/20200721.notes]
row=2
col=4

[/home/keith/Desktop/20200729.note]
row=3
col=4

[/home/keith/Desktop/20200706_0-wtf.note]
row=6
col=3

[/home/keith/Desktop/20200512.note]
row=2
col=0

[/home/keith/Desktop/R260215.exe]
row=1
col=2

[/home/keith/Desktop/FROM_CRAPTOP]
row=1
col=0

[/home/keith/Desktop/20200615_1.phdl]
row=2
col=1

[/home/keith/Desktop/20200619.note]
row=4
col=1

[/home/keith/Desktop/20200805.notes]
row=4
col=4

[/home/keith/Desktop/STCK1A8LFC_Partitions]
row=5
col=2

[/home/keith/Desktop/20200705_0.note]
row=4
col=2

[/home/keith/Desktop/20200705_1.note]
row=6
col=2

[/home/keith/Desktop/20200705_2.note]
row=0
col=3

[/home/keith/Desktop/20200705_3.note]
row=1
col=3

[/home/keith/Desktop/20200705_4.note]
row=2
col=3

[/home/keith/Desktop/20200705_5.note]
row=3
col=3

[/home/keith/Desktop/20200705_6.note]
row=4
col=3

[/home/keith/Desktop/20200705_7.note]
row=5
col=3

[/home/keith/Desktop/20200605.note]
row=3
col=0

[/home/keith/Desktop/20200619.phdl]
row=5
col=1

[/home/keith/Desktop/DiffTest1.list]
row=2
col=2

[/home/keith/Desktop/DiffTest2.list]
row=3
col=2

[/home/keith/Desktop/nspyrd_NEW.tar.gz]
row=0
col=2

[/home/keith/Desktop/20200610_1.ytdl]
row=5
col=0

[/home/keith/Desktop/20200610_2.ytdl]
row=0
col=1

[/home/keith/Desktop/20200610_3.ytdl]
row=1
col=1

[/home/keith/Desktop/20200615_1.ytdl]
row=3
col=1

[/home/keith/Desktop/David.ytdl]
row=6
col=1

[Trash]
row=0
col=0

